.title {
  font-size: 50px;
  margin: 50px 0;
}

.backButton {
  display: flex;
  align-items: center;
  & a {
    &:hover {
      text-decoration: underline;
    }
  }

  &::before {
    content: "⬅️";
    display: block;
    margin-right: 10px;
  }
}
